.important {
  color:#48f1f7;
  font-family: fantasy;
  font-size: 14pt;  
  font-style: italic;
  font-weight: bold;
}

.intro {
  color:#d6cece;
  font-size: 12pt;
}

.blog1 {
  color: bisque;
  font-style: unset;
  text-align:left;
}

.blog2 {
  color: #bdbab5;
  font-style: oblique;
  text-align:right;
}

body {
  background-color:#851d1d;
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  border-radius: 2S0%;
}